// media-queiry

@mixin respond-to($queiry) {
    @media (width >= $queiry) {
        @content;
    }
}

// convert toRem
@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}
@function toEm($value) {
    $emValue: ($value / 16) + em; 
    @return $emValue;
}



// font

@mixin font(
    $family: 'Be Vietnam Pro',
    $size: toRem(16),
    $weight: 400,
){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}

// background cover

@mixin cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-size: center;
}

// hidden

@mixin elementHidden() {
    opacity: 0;
    visibility: hidden;
}

@mixin elementVisible() {
    opacity: 1;
    visibility: visible;
}